<div class="w3-bar w3-red">
  <span class="w3-bar-item" routerLink="/">
    {{ title }}
  </span>
  <span routerLink="/second" class="route" class="w3-bar-item">second</span>
  <span class="route" (click)="goToThirdComponent()" class="w3-bar-item"
    >Third</span
  >
  <span routerLink="/reactive-forms" class="route" class="w3-bar-item"
    >Reactive form</span
  >
</div>
