<div class="jumbo">
  <p>This is the Third component</p>
  <input [(ngModel)]="name" type="text" name="input-name" />
  <p *ngIf="isError">{{ errorMessage }}</p>
  <button (click)="submitInput()">Submit</button>
</div>
<table class="w3-table-all">
  <thead>
    <tr class="w3-red">
      <th>Id</th>
      <th>User Id</th>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tr *ngFor="let post of posts">
    <td>{{ post.id }}</td>
    <td>{{ post.userId }}</td>
    <td>{{ post.title }}</td>
    <td>{{ post.body }}</td>
  </tr>
</table>
