<div class="jumbo">
  <p>This is the Reactive Form</p>
  <form [formGroup]="loginForm">
    <input name="inp1" formControlName="emailControl" />
    <span
      class="w3-text-red"
      *ngIf="
        loginForm.controls.emailControl.hasError('email') &&
        !loginForm.controls.emailControl.hasError('required')
      "
      >Email is not in proper format</span
    >
    <span
      class="w3-text-red"
      *ngIf="loginForm.controls.emailControl.hasError('required')"
    >
      email is mandatory
    </span>

    <input name="pwd" formControlName="passwordControl" />

    <span
      class="w3-text-red"
      *ngIf="loginForm.controls.passwordControl.hasError('required')"
    >
      password is mandatory
    </span>

    <!-- <button (click)="">Submit</button> -->
  </form>
</div>
